.particleContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--accent-primary, var(--green-primary));
  border-radius: 50%;
  opacity: 0;
  animation: floatUp var(--duration) ease-in-out infinite;
  animation-delay: var(--delay);
  box-shadow: 0 0 6px var(--accent-glow, var(--green-glow));
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  10% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh) scale(1);
  }
}

/* Create multiple particles with different positions and timings */
.particle:nth-child(1) {
  left: 10%;
  bottom: -10px;
  --duration: 12s;
  --delay: 0s;
}

.particle:nth-child(2) {
  left: 20%;
  bottom: -10px;
  --duration: 15s;
  --delay: 2s;
  width: 3px;
  height: 3px;
}

.particle:nth-child(3) {
  left: 35%;
  bottom: -10px;
  --duration: 11s;
  --delay: 4s;
}

.particle:nth-child(4) {
  left: 50%;
  bottom: -10px;
  --duration: 14s;
  --delay: 1s;
  width: 5px;
  height: 5px;
}

.particle:nth-child(5) {
  left: 65%;
  bottom: -10px;
  --duration: 13s;
  --delay: 3s;
}

.particle:nth-child(6) {
  left: 75%;
  bottom: -10px;
  --duration: 16s;
  --delay: 5s;
  width: 3px;
  height: 3px;
}

.particle:nth-child(7) {
  left: 85%;
  bottom: -10px;
  --duration: 12s;
  --delay: 2.5s;
}

.particle:nth-child(8) {
  left: 5%;
  bottom: -10px;
  --duration: 14s;
  --delay: 6s;
  width: 5px;
  height: 5px;
}

.particle:nth-child(9) {
  left: 45%;
  bottom: -10px;
  --duration: 11s;
  --delay: 7s;
}

.particle:nth-child(10) {
  left: 90%;
  bottom: -10px;
  --duration: 15s;
  --delay: 1.5s;
  width: 3px;
  height: 3px;
}

.particle:nth-child(11) {
  left: 25%;
  bottom: -10px;
  --duration: 13s;
  --delay: 8s;
}

.particle:nth-child(12) {
  left: 55%;
  bottom: -10px;
  --duration: 12s;
  --delay: 4.5s;
  width: 5px;
  height: 5px;
}

.particle:nth-child(13) {
  left: 70%;
  bottom: -10px;
  --duration: 14s;
  --delay: 9s;
}

.particle:nth-child(14) {
  left: 15%;
  bottom: -10px;
  --duration: 16s;
  --delay: 3.5s;
  width: 3px;
  height: 3px;
}

.particle:nth-child(15) {
  left: 80%;
  bottom: -10px;
  --duration: 11s;
  --delay: 6.5s;
}
